body,
html {
    margin: 0;
    box-sizing: border-box;
    height: 100%;
}



#imgContainer {
    height: 100%;
    width: 100%;
    border: 3px solid rgb(5, 62, 112);
    display: flex;
    justify-content: center;
    align-items: center;
}

div#imgContainer img{
    height: 100%;
    width: 100%;
    border: 3px solid rgb(5, 62, 112);
    justify-content: center;
    align-items: center;
}

li>img {
    height: 50px;
}

#cardContainer {
    /* height: 43%; */
    border-top: 10px solid rgb(116, 116, 172);
    background-color: aliceblue;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card {
    border: gray 3px solid;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1.5em;
    border-radius: 15px;
    width: 200px;
}